@use "_variables.scss" as v;

/*----------------------------------------------*/
/* Design */
/*----------------------------------------------*/
@mixin cta-btn {
    padding: 10px 24px;
    border: 2px solid v.$btn-color;
    background-color: v.$btn-color;
    color: #fff !important;

    &:focus-visible {
        box-shadow: none !important;
        outline: 3px solid #5d7769 !important;
        outline-offset: 4px !important;
    }
}

@mixin cta-btn-hover {
    box-shadow: inset 300px 0 0 0 #fff;
    color: v.$btn-color !important;
}

@mixin section-title {
    margin: 0 auto 50px;
    color: #9A7048;
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: 0.15em;
    text-align: center;
}

@mixin section-title-sp {
    margin-bottom: 50px;
    font-size: 1.625rem;
}

@mixin lead-text {
    color: v.$light-gray;
    font-family: "M PLUS 1", sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.15em;
}

@mixin lead-text-sp {
    font-size: clamp(0.938rem, 0.902rem + 0.179vw, 1.063rem);
}

@mixin content-title {
    margin-bottom: 15px;
    font-family: "Noto Serif JP", serif;
    font-size: 1.25rem;
    color: #926C47;
    font-weight: 600;
    letter-spacing: 0.11em;
}

@mixin content-text {
    color: #6F6A64;
    font-family: "M PLUS 1", sans-serif;
    font-size: 0.9375rem;
    font-weight: 450;
    line-height: 1.9 !important;
    letter-spacing: 0.14em;
    margin-bottom: 22px;
    text-align: left;
}

@mixin focus-ring-accessible {
    box-shadow: none !important;
    outline: 3px solid #5d7769 !important;
    outline-offset: 4px !important;
}

/*----------------------------------------------*/
/* Hover Device */
/*----------------------------------------------*/
@mixin hover-device {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

/*----------------------------------------------*/
/* Media Queries */
/*----------------------------------------------*/
@mixin mq-min($width) {
    @media (width >=$width) {
        @content;
    }
}

@mixin mq-max($width) {
    @media (width < $width) {
        @content;
    }
}