@use "_variables.scss" as v;

/*----------------------------------------------*/
/* Design */
/*----------------------------------------------*/
@mixin cta-btn {
    padding: 10px 24px;
    border: 2px solid v.$btn-color;
    background-color: v.$btn-color;
    color: v.$text-white !important;
}

@mixin cta-btn-hover {
    box-shadow: inset 300px 0 0 0 #faf8f5;
    color: v.$btn-color !important;
}

@mixin section-lead {
    color: v.$light-gray;
    font-family: "M PLUS 1", sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    letter-spacing: 0.15em;
}

@mixin content-title {
    margin-bottom: 15px;
    font-family: "Noto Serif JP", serif;
    font-size: 1.25rem;
    color: #a67c52;
    font-weight: 650;
    letter-spacing: 0.11em;
}

@mixin content-text {
    color: v.$light-gray;
    font-family: "M PLUS 1", sans-serif;
    font-size: 0.9375rem;
    font-weight: 450;
    line-height: 1.9 !important;
    letter-spacing: 0.14em;
    margin-bottom: 22px;
    text-align: left;
}

/*----------------------------------------------*/
/* Hover Device */
/*----------------------------------------------*/
@mixin hover-device {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

/*----------------------------------------------*/
/* Media Queries */
/*----------------------------------------------*/
@mixin mq-min($width) {
    @media (width >=$width) {
        @content;
    }
}

@mixin mq-max($width) {
    @media (width < $width) {
        @content;
    }
}