/*----------------------------------------------*/
/* Color */
/*----------------------------------------------*/
$dark-gray: #5d5754;
$light-gray: #706c68;
$text-white: #fdfdfd;
$btn-color: #cf6753;
$dark-btn-color: #cc5500;
$feedback-btn-color: #b88a76;

/*----------------------------------------------*/
/* Breakpoint */
/*----------------------------------------------*/
$nav-breakpoint: 1640px;
$xxl: 1400px;
$xl: 1090px;
$lg: 992px;