/*----------------------------------------------*/
/* Color */
/*----------------------------------------------*/
$dark-gray: #5d5754;
$light-gray: #706c68;
$text-white: #fdfdfd;
$btn-color: #973D00;
$dark-btn-color: #cc5500;

/*----------------------------------------------*/
/* Breakpoint */
/*----------------------------------------------*/
$nav-breakpoint: 1640px;
$xxl: 1400px;
$xl: 1090px;
$lg: 992px;
$md: 768px;