/*----------------------------------------------*/
/* Color */
/*----------------------------------------------*/
$btn-color: #cf6753;
$dark-tl-color: #cc5500;
$sub-text-color: #706c68;
$text-white: #fdfdfd;
$primary-color: #6b7b6e;
$bg-color: #faf8f5;

/*----------------------------------------------*/
/* Breakpoint */
/*----------------------------------------------*/
$breakpoint-min-1400: 1400px;
$breakpoint-max-1399: 1399.98px;
$breakpoint-max-1089: 1089.98px;
$breakpoint-max-1023: 1023.98px;
$breakpoint-max-991: 991.98px;
$breakpoint-max-791: 791.98px;
$breakpoint-max-767: 767.98px;
$breakpoint-max-539: 539.98px;